[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiohttp_session = { version = "*", extras = ["aioredis"] }
aiolimiter = "*"
bcrypt = "*"
pyyaml = "*"
redis = "*"
sortedcontainers = "*"

[dev-packages]
build = "*"

[requires]
python_version = "3.10"
