[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiolimiter = "*"
pyyaml = "*"
sortedcontainers = "*"

[dev-packages]
build = "*"

[requires]
python_version = "3.9"
